.bottle_container{
    text-align: center;
    border: 1px solid seagreen;
    border-radius: 10px;
}
.bottle_container .bottle_title{
    font-size: 1.25rem; /* 20px */
}
.bottle_container .bottle_description{

}
.bottle_container img{
    height: 50%;
    width: 40%;
}
.bottle_container .bottle_btn{
    background-color:chartreuse;
}