.bottle_container{
    text-align: center;
    border: 1px solid seagreen;
    border-radius: 10px;
}
.bottle_container .bottle_title{
    font-size: 1.25rem; /* 20px */
}
.bottle_container .bottle_description{
    margin: 10px 0;
}
.bottle_container img{
    height: 200px;
    width: 150px;
}
.bottle_container .bottle_btn{
    background-color:chartreuse;
    margin-bottom: 10px;
}